<div class="container">
	<div class="row">
	    <div class="col-md-4">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title"><%= current_user.name %></h4>
					<h6 class="card-subtitle text-muted"><%= current_user.username %></h6>
					<h6 class="card-subtitle text-muted"><%= current_user.email %></h6>
				</div>
			</div>
		</div>
	    <div class="col-md-8">
			<h1>New shared session</h1>
			<div class="spacer"></div>
			<%= render 'form', sharesesh: @sharesesh %>
			<div class="spacer"></div>
			<%= link_to 'Back', shareseshes_path %>
		</div>
	</div>
</div>