<div class="container">
  <div class="row>">
    <div class="offset-md-4 col-md-8">
      <div class="card">
        <%= image_tag @sharesesh.image(:cardshow), class: "card-img-top img-fluid" %>
        <div class="card-block">
          <h4 class="card-title">
            <%= @sharesesh.subject %>
          </h4>
          <p class="card-text">
            <strong><%= link_to @sharesesh.user.username, user_path(@sharesesh.user.username) %></strong> on  <%= @sharesesh.when %>
          <br>
            <strong>Location:</strong>
            <%= @sharesesh.where %>
          </p>
          <p>
            <%= @sharesesh.yoursesh %>
          </p>

          <% if @sharesesh.user == current_user %>
            <%= link_to 'Edit', edit_sharesesh_path(@sharesesh) %> | <%= link_to 'Delete', @sharesesh, method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <% end %>
          <%= link_to 'Back to shared sessions', shareseshes_path %>
        </div>
      </div>
    </div>
  </div>
</div>