<%= form_for(privsesh) do |f| %>
  <% if privsesh.errors.any? %>
    <div id="error_explanation" class="error_container">
      <p class="validation_error"><%= pluralize(privsesh.errors.count, "error") %>, please correct before saving the session:</p>

      <ul class="validation_error">
      <% privsesh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <strong><%= f.label :date %></strong>
    <%= f.date_select :date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <strong><%= f.label :location %></strong>
    <%= f.text_field :location, class: "form-control"  %>
  </div>

  <div class="form-group">
    <strong><%= f.label :activity %></strong>
    <%= f.text_field :activity, class: "form-control"  %>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <p style="font-weight: bold;">How was your Sesh?</p>
      <%= f.radio_button :rating, 'Sucked', class: "form-control" %><label>Sucked</label>
      <%= f.radio_button :rating, 'Just Ok', class: "form-control" %><label>Was OK</label>
      <%= f.radio_button :rating, 'Fun', class: "form-control" %><label>FUN!</label>
      <%= f.radio_button :rating, 'Epicness', class: "form-control" %><label>Epic!!</label>
    </div>
  </div>

  <div class="form-group">
    <strong><%= f.label :note %></strong>
    <%= f.text_area :note, class: "form-control"  %>
  </div>

    <%= f.submit 'Submit Sesh', class: "btn btn-primary" %>

<% end %>
