<div class="container container-show">
   <div class="row>">
    <div class="offset-md-4 col-md-8">
      <div class="card">
        <li class="list-group-item">
          <strong>Date:</strong>
          <%= @privsesh.date %>
        </li>

        <li class="list-group-item">
          <strong>Location:</strong>
          <%= @privsesh.location %>
        </li>

        <li class="list-group-item">
          <strong>Activity:</strong>
          <%= @privsesh.activity %>
        </li>

        <li class="list-group-item">
          <strong>Rating:</strong>
          <%= @privsesh.rating %>
        </li>

        <li class="list-group-item">
          <strong>Note:</strong>
          <%= @privsesh.note %>
        </li>
      </div>
      <center>
        <%= link_to 'Edit', edit_privsesh_path(@privsesh) %> |
        <%= link_to 'Back', privseshes_path %>
      </center>
    </div>
  </div>
</div>