<!DOCTYPE html>
<html>
  <head>
    <title>Log your Sessions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if action_name === "home" %>
    <body class="body-home">
  <% else %>
    <body>
  <% end %>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <!-- Navigation Bar -->
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Seshlog</h3>
              <nav class="nav nav-masthead">
                <ul class="nav navbar-nav">
                  <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link active" %></li>
                  <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
                </ul>
              </nav>
            </div>
          </div>
          
          <!-- Flash Messages -->
          <% flash.each do |name, message| %>
            <% content_tag(:div, message, class: "alert alert-info #{name}") %>

          <!-- Page Content -->
          <%= yield %>
    
          <!-- Footer -->

          <div class="mastfoot">
            <div class="inner">
              <p>Made in <a href="http://onemonth.com/">One Month</a>, by Mariachi</p>
            </div>
          </div>

        </div>

      </div>

    </div>